<nav class="navbar">
  <div class="navbar-logo">KoguiDex</div>
  <div class="navbar-links">
    <a routerLink="/list" routerLinkActive="active">Pokémons</a>
    <a routerLink="/favorites" routerLinkActive="active">Favoritos</a>
    <a routerLink="/team" routerLinkActive="active">Equipe de Batalha</a>
  </div>
</nav>

<div class="container">
  <h1 class="titulo">Lista de Pokémons</h1>

  <!-- Filtros -->
  <div class="filtros">
    <input
      type="text"
      placeholder="Pesquisar Pokémon pelo nome"
      [value]="busca"
      (input)="onBuscaChange($event)"
      class="search-input"
    />

    <select [(ngModel)]="filtroTipo" class="search-input">
      <option value="">Todos os tipos</option>
      <option *ngFor="let tipo of tiposDisponiveis" [value]="tipo">{{ tipo }}</option>
    </select>
  </div>

  <!-- Mensagem de carregamento -->
  <div *ngIf="pokemons.length === 0" class="loading">
    Carregando Pokémons...
  </div>

  <!-- Mensagem de feedback -->
  <div *ngIf="mensagem" class="feedback" [ngClass]="{'erro': erro, 'sucesso': !erro}">
    {{ mensagem }}
  </div>

  <!-- Lista de cards filtrados -->
  <div class="cards" *ngIf="pokemonsFiltrados().length > 0">
    <div *ngFor="let p of pokemonsFiltrados()" class="card">
      <img [src]="p.imagem" [alt]="p.nome" class="pokemon-img" />
      <h2 class="pokemon-nome">{{ p.nome | titlecase }}</h2>
      <p class="pokemon-tipo">Tipo: {{ ($any(p.tipo).join?.(', ') || p.tipo) }}</p>

      <div class="actions">
        <button class="btn-favorito" (click)="favoritar(p)">
          {{ p.Favorito ? '⭐ Remover Favorito' : '☆ Favoritar' }}
        </button>
        <button class="btn-equipe" (click)="alterarEquipe(p)">
          {{ p.GrupoBatalha ? '⚔️ Remover da equipe' : '⚔️ Adicionar à equipe' }}
        </button>
        <button class="btn-detalhes" (click)="verDetalhes(p)">
        🔍 Detalhes
      </button>
      </div>
    </div>
  </div>

  <!-- Nenhum Pokémon encontrado -->
  <div *ngIf="pokemonsFiltrados().length === 0 && pokemons.length > 0" class="loading">
    Nenhum Pokémon encontrado.
  </div>
</div>
